*-------------------------------------------------------------------------------
 &SEWARD &END
Title
Ade
Basis set
N.6-31G*....
      N1         2.327772        -0.028925          1.461348 / Angstrom
      N2         1.120840         0.012366         -0.604825 / Angstrom
      N3        -1.164375         0.020224          2.269164 / Angstrom
      N4        -1.180810         0.116095         -0.768584 / Angstrom
      N5         0.861466         0.112649          3.490075 / Angstrom
End of basis
Basis set
C.6-31G*....
      C1        -0.048937         0.050093         -0.040562 / Angstrom
      C2        -0.114402         0.059943          1.391787 / Angstrom
      C3         1.149968         0.067539          2.062705 / Angstrom
      C4         2.247982        -0.036360          0.161953 / Angstrom
      C5        -0.334820        -0.589430          3.199514 / Angstrom
End of basis
Basis set
H.6-31G*....
      H1         3.165315        -0.088998         -0.394300 / Angstrom
      H2        -1.114971        -0.042035         -1.748782 / Angstrom
      H3        -2.048951        -0.068399         -0.319318 / Angstrom
      H4        -0.260430        -1.668256          3.236810 / Angstrom
      H5         0.662571         1.062843          3.760180 / Angstrom
End of basis
End of input
*-------------------------------------------------------------------------------
* &SCF &END
*Title
*Ade
*End of input
*-------------------------------------------------------------------------------
!ln -fs ../INPORB INPORB
*-------------------------------------------------------------------------------
 &RASSCF &END
Title
Ade sa-5-cas(16,12)
Inactive
27
Nactel
16 0 0
Ras2
12
CiRoot
5 5
1 2 3 4 5
1 1 1 1 1
Lumorb
End of input
*-------------------------------------------------------------------------------
 &CASPT2 &END
Multistate
5 1 2 3 4 5
End of input
*-------------------------------------------------------------------------------
